{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "build/infection/infection-log.txt"
    },
    "phpUnit": {
        "configDir": "./",
        "customPath": "\/vendor\/bin\/phpunit"
    }
}